<%= form_with(model: list, local: true, :class => 'form-group col-xs-4') do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :name, :class => 'form-control', :type => 'text' %>
  </div>

  <div class="actions">
    <%= form.submit 'Update', :class => 'btn btn-default' %>

  </div>
<% end %>
