<p id="notice"><%= notice %></p>

<h2><%= @list.name %></h2>

<% @list.list_items.map(&:event_id).each do |event_id| %>
    <% event = Event.find(event_id) %>
    <%= render :partial => "home/event_card", locals: { event: event } %>
<% end %>


<div class=' col-xs-12'>
  <%= link_to 'Back', lists_path %> |
  <%= link_to 'Edit', edit_list_path(@list) %> |
  <%= link_to "Delete", list_path(@list), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
</div>
