<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="row">
  <div class="col-sm-6">
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
      <%= f.text_field :username %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off" %>
        <i>Leave blank if you don't want to change it. </i>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% if @minimum_password_length %>
        <% end %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "off" %>
        <i>(we need your current password to confirm your changes)</i><br />
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <br>

    <table>
      <thead>
        <tr>
          <td>Created at</td>
          <td>Cred</td>
          <td>Nickname</td>
          <td>External ID</td>
        </tr>
      </thead>

      <tbody>
        <% @user.credentials.each do |cred| %>
          <td><%= cred.created_at.to_date %></td>
          <td><%= cred.public_key.first(10) %></td>
          <td><%= cred.nickname %></td>
          <td><%= cred.external_id.first(5) %></td>
          <td><%= link_to() %></td>
        <% end %>
      </tbody>
    </table>


<div class="row">
  <div class="col-sm-6">
<%= content_tag(:div, { data: {
  controller: "new-registration new-session",
  url: webauthn_registration_path,
  sessionUrl: webauthn_session_path
}}) do %>
  <%= email_field(
    "user", "email",
    value: @user.email,
    class: "form-control",
    data: {
      target: "new-registration.emailField new-session.emailField"
    }
  ) %>

<%= button_tag("Add WebAuthn Key", {
class: "btn btn-success",
data: {action: "click->new-registration#create"}
}) %>

<%= button_tag("Test WebAuthn", {
class: "btn btn-success",
data: {action: "click->new-session#create"}
}) %>

<% end %>
</div>
</div>

    <!--
    <h3>Cancel my account</h3>

    <div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn" %></div>
     -->
    <br>
    <!-- <%= link_to "Back", :back %> -->
  </div>
</div>
