<%= form_tag("/search", method: "post") do %>

  <%= label_tag(:title_string, "Title:") %>
  <%= text_field_tag(:title_string) %>	

  <%= label_tag(:artist, "Artist:") %>
  <%= text_field_tag(:artist) %>

  <%= label_tag(:year, "Year:") %>
  <%= select_tag(:year, raw("<option>2015</option><option selected>2016</option><option>2017</option>")) %>

  <%= label_tag(:festival_string, "Year:") %>
  <%= select_tag(:festival_string, raw("<option value="" selected>all</option><option>fringe</option><option selected>demofringe</option><option>jazz</option><option>book</option><option>international</option><option>tattoo</option><option>art</option><option>hogmanay</option><option>science</option><option>imaginate</option><option>film</option><option>mela</option><option>storytelling</option>")) %>

  <%= submit_tag("Search") %>

<% end %>











