<p> <%= @results.count %> results found: </p>

<% @results.each do |r| %>
<form id="save_event_form" method="post" action="/events">

<%- model_class = Event -%>
<div class="page-header">
  <h1><%= r['title'] %></h1>
</div>

  <dl class="dl-horizontal">

  <%=  raw(r['description']) %>
  <br>
  <br>
  <!-- <input readonly="readonly" size="50" type="hidden" name="age_category" value="<%= r['code'] %>"> -->

  <dt><strong><%= model_class.human_attribute_name(:age_category) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="age_category" value="<%= r['age_category'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:artist) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="artist" value="<%= r['artist'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:code) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="code" value="<%= r['code'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:festival) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="festival" value="<%= r['festival'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:festival_id) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="festival_id" value="<%= r['festival_id'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:genre) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="genre" value="<%= r['genre'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="latitude" value="<%= r['latitude'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="longitude" value="<%= r['longitude'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="status" value="<%= r['status'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="title" value="<%= r['title'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:updated) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="updated" value="<%= r['updated'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="url" value="<%= r['url'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="address" value="<%= r['address'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="name" value="<%= r['name'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="phone" value="<%= r['phone'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:post_code) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="post_code" value="<%= r['post_code'] %>"></dd>

  <dt><strong><%= model_class.human_attribute_name(:website) %>:</strong></dt>
  <dd><input readonly="readonly" size="50" type="text" name="website" value="<%= r['website'] %>"></dd>

  
  <input readonly="readonly" size="50" type="hidden" name="description" value="<%= r['description'] %>">


  <% if Venue.find_by_code(r['venue']['code']) %>
    <h3>Existing Venue</h3>
    <%= r['venue'] %>
    <input readonly="readonly" size="50" type="hidden" name="existing_venue_code" value="<%= r['venue']['code'] %>">
  <% else %>
    <h3>New Venue</h3>
    <p><%= r['venue']['address'] %></p>
    <input readonly="readonly" size="50" type="hidden" name="venue" value="<%= r['venue'] %>">
  <% end %>

  <br>
  <br>

  <% if Event.find_by_code(r['code']) %>
    <%= link_to("<button class='btn btn-primary'>Go to Event</button>".html_safe, Event.find_by_code(r['code']) ) %>
  <% else %>
    <input class="btn btn-primary" type="submit" value="Save Event">
  <% end %>
  

</dl>

</form>
<% end %>