<% @events.each do |event| %>

<div class="panel panel-primary home_card" id="<%= event.id %>" >
  
  <a display: block, href="/events">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to event.title, event, class: "" %></h3>
  </div>  
  </a>

  <div class="panel-body">
    <text> Festival: <%= event.festival %> </text>
    <br>
    <text>Reviews:</text>
    <span> <%= event.reviews.count %> </span>
    <br>

    <% if event.reviews.count > 0 %>
      <%= render :partial => 'review_modal', :locals => { :reviews => event.reviews } %> 
    <% else %>
      <span><a href="/reviews/new?event=<%= event.id %>">Add a review?</a></span>
    <% end %>
    
    <br>

    <text>Score:</text>
    <span class="vote_tally" value="<%= event.id %>"> <%= event.tally_votes %> </span>
    <br>
    <div class="btn-group vote_buttons" role="group" aria-label="...">
      <% if user_signed_in? %>
        <button type="button" class="btn btn-default thumbsup_button" value="<%= event.id %>" ><%= Emoji.find_by_alias("thumbsup").raw %></button>
        <button type="button" class="btn btn-default thumbsdown_button" value="<%= event.id %>" ><%= Emoji.find_by_alias("thumbsdown").raw %></button>
      <% else %>
        <a href="/users/sign_in"><button type="button" class="btn btn-default">Sign in to vote</button></a>
      <% end %>
    </div>

  </div>
</div>

<% end %>


<%= paginate @events %>
