<% @events.each do |event| %>
<div class="home_card" id="<%= event.id %>" >
	<%= event.title %>
	<br>
	<%= event.festival %>
<!-- 	<%=  raw(event.description) %>
 -->	
 	<br>
 	<text>Reviews:</text>
 	<span> <%= event.reviews.count %> </span>

 	<text>Votes:</text>
 	<span class="vote_tally" value="<%= event.id %>"> <%= event.tally_votes %> </span>
 	<br>

   <% if user_signed_in? %>

  <div class="pure-menu pure-menu-horizontal vote_buttons">
    <ul class="pure-menu-list">

    	<li class="pure-menu-item">
        <button class="thumbsup_button" value="<%= event.id %>" ><%= Emoji.find_by_alias("thumbsup").raw %></button>
      </li>

    	<li class="pure-menu-item">
        <button class="thumbsdown_button" value="<%= event.id %>" ><%= Emoji.find_by_alias("thumbsdown").raw %></button>
      </li>

    </ul>
  </div>

  <% else %>
  	<p>Sign in to vote</p>
  <% end %>

 	<br>
 	<br>
</div>
<% end %>

