</script>
<% @events.each do |event| %>
	<%= event.title %>
	<br>
	<%= event.festival %>
<!-- 	<%=  raw(event.description) %>
 -->	
 	<br>
 	<text>Reviews:</text>
 	<span> <%= event.reviews.count %> </span>

 	<br>
 	<text>Votes:</text>
 	<span> <%= event.tally_votes %> </span>
 	<br>

   <% if user_signed_in? %>

  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
    	<li class="pure-menu-item thumbsup_button"><button value="<%= event.id %>" ><%= Emoji.find_by_alias("thumbsup").raw %></button></li>

    	<li class="pure-menu-item thumbsdown_button"><button value="<%= event.id %>" ><%= Emoji.find_by_alias("thumbsdown").raw %></button></li>

	</ul>
  </div>

  <% else %>
  	<p>Sign in to vote</p>
  <% end %>

 	<br>
 	<br>
<% end %>

