<form action = "/votes" method = "post" data-controller="event-voting">
	<input name="authenticity_token" 
           type="hidden" 
           value="<%= form_authenticity_token %>"/>
    <input name="value" 
	       type="hidden" 
           value="1"/>
    <button type="submit" name="event_id" value="<%= event.id %>"><%= Emoji.find_by_alias("thumbsup").raw %></button>
</form>

<form action = "/votes" method = "post">
	<input name="authenticity_token" 
           type="hidden" 
           value="<%= form_authenticity_token %>"/>
    <input name="value" 
	       type="hidden" 
           value="-1"/>
    <button type="submit" name="event_id" value="<%= event.id %>"><%= Emoji.find_by_alias("thumbsdown").raw %></button>
</form>



<!-- <button type="button" class="btn btn-default thumbsup_button" value="<%= event.id %>" ></button> -->
<!-- <button type="button" class="btn btn-default thumbsdown_button" value="<%= event.id %>" ></button> -->
