<%= form_for @event, :html => { :class => "form-horizontal event" } do |f| %>

  <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>

      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>

    </div>

  <% end %>

  <div class="form-group">
    <%= f.label :age_category, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :age_category, :class => 'form-control' %>
    </div>

    <%=f.error_span(:age_category) %>
  </div>

  <div class="form-group">
    <%= f.label :artist, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :artist, :class => 'form-control' %>
    </div>

    <%=f.error_span(:artist) %>
  </div>

  <div class="form-group">
    <%= f.label :code, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :code, :class => 'form-control' %>
    </div>

    <%=f.error_span(:code) %>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>

    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <%= f.label :festival, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :festival, :class => 'form-control' %>
    </div>

    <%=f.error_span(:festival) %>
  </div>

  <div class="form-group">
    <%= f.label :festival_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :festival_id, :class => 'form-control' %>
    </div>

    <%=f.error_span(:festival_id) %>
  </div>

  <div class="form-group">
    <%= f.label :genre, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :genre, :class => 'form-control' %>
    </div>

    <%=f.error_span(:genre) %>
  </div>

  <div class="form-group">
    <%= f.label :latitude, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :latitude, :class => 'form-control' %>
    </div>

    <%=f.error_span(:latitude) %>
  </div>

  <div class="form-group">
    <%= f.label :longitude, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :longitude, :class => 'form-control' %>
    </div>

    <%=f.error_span(:longitude) %>
  </div>

  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :status, :class => 'form-control' %>
    </div>

    <%=f.error_span(:status) %>
  </div>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>

    <%=f.error_span(:title) %>
  </div>

  <div class="form-group">
    <%= f.label :updated, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :updated, :class => 'form-control' %>
    </div>

    <%=f.error_span(:updated) %>
  </div>

  <div class="form-group">
    <%= f.label :url, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :url, :class => 'form-control' %>
    </div>

    <%=f.error_span(:url) %>
  </div>

  <div class="form-group">
    <%= f.label :venue_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :venue_id, :class => 'form-control' %>
    </div>

    <%=f.error_span(:venue_id) %>
  </div>


  <div class="form-group">
    <%= f.label :website, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :website, :class => 'form-control' %>
    </div>

    <%=f.error_span(:website) %>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn btn-default' %>
    </div>

  </div>


<% end %>
