<p id="notice"><%= notice %></p>

<p>
  <strong>Age category:</strong>
  <%= @event.age_category %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Code:</strong>
  <%= @event.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Festival:</strong>
  <%= @event.festival %>
</p>

<p>
  <strong>Festival:</strong>
  <%= @event.festival_id %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @event.genre %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @event.updated %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Code:</strong>
  <%= @event.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @event.phone %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @event.post_code %>
</p>

<p>
  <strong>Website:</strong>
  <%= @event.website %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
