<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Box office fringe:</strong>
  <%= @venue.box_office_fringe %>
</p>

<p>
  <strong>Box office opening:</strong>
  <%= @venue.box_office_opening %>
</p>

<p>
  <strong>Cafe description:</strong>
  <%= @venue.cafe_description %>
</p>

<p>
  <strong>Code:</strong>
  <%= @venue.code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @venue.email %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @venue.fax %>
</p>

<p>
  <strong>Has bar:</strong>
  <%= @venue.has_bar %>
</p>

<p>
  <strong>Has booking over card:</strong>
  <%= @venue.has_booking_over_card %>
</p>

<p>
  <strong>Has booking over phone:</strong>
  <%= @venue.has_booking_over_phone %>
</p>

<p>
  <strong>Has booking over web:</strong>
  <%= @venue.has_booking_over_web %>
</p>

<p>
  <strong>Has cafe:</strong>
  <%= @venue.has_cafe %>
</p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @venue.phone %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @venue.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @venue.lon %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @venue.post_code %>
</p>

<p>
  <strong>Web address:</strong>
  <%= @venue.web_address %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
