<table>
  <thead>
    <tr>
      <td>Created at</td>
      <td>Cred</td>
      <td>Nickname</td>
      <td>External ID</td>
    </tr>
  </thead>

  <tbody>
    <% @user.credentials.each do |cred| %>
      <tr>
        <td><%= cred.nickname %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-6">
    <%= content_tag(:div, { data: {
      controller: "new-registration new-session",
      url: webauthn_registration_path,
      sessionUrl: webauthn_session_path
    }}) do %>
      <%= email_field(
        "user", "email",
        value: @user.email,
        class: "form-control",
        data: {
          target: "new-registration.emailField new-session.emailField"
        }
      ) %>

    <%= button_tag("Add WebAuthn Key", {
    class: "btn btn-success",
    data: {action: "click->new-registration#create"}
    }) %>

    <%= button_tag("Test WebAuthn", {
    class: "btn btn-success",
    data: {action: "click->new-session#create"}
    }) %>

    <% end %>
  </div>
</div>
