<div class="row">
  <div class="col-sm-6">
<%= content_tag(:div, { data: {
  controller: "new-registration new-session",
  url: webauthn_registration_path,
  sessionUrl: webauthn_session_path 
}}) do %>
  <%= email_field(
    "user", "email",
    value: "singh.prd@gmail.com",
    class: "form-control",
    data: {
      target: "new-registration.emailField new-session.emailField"
    }
  ) %>

<%= button_tag("Signup using WebAuthn", { 
class: "btn btn-success",
data: {action: "click->new-registration#create"}
}) %>

<%= button_tag("Login using WebAuthn", { 
class: "btn btn-success",
data: {action: "click->new-session#create"}
}) %>

<% end %>
</div>
</div>
<!-- 
        <%= form_with(scope: :session, url: "/webauthn_session", id: "new-session") do |form| %>
            <div class="form-field">
              <div class="mdc-text-field mdc-text-field--fullwidth" data-controller="textfield" data-target="new-session.usernameField">
                <%= form.text_field :username, class: "mdc-text-field__input", placeholder: "Username", required: true, autocapitalize: "none", "aria-controls" => "username-helper-text" %>
              </div>

              <p id="username-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
              </p>
            </div>

                            <%= form.text_field :username, class: "mdc-text-field__input", placeholder: "Username", required: true, autocapitalize: "none", "aria-controls" => "username-helper-text" %>


            <div class="center">
              <%= form.submit "Sign in using WebAuthn", class: "mdc-button mdc-button--raised" %>
            </div>
        <% end %>

                  <%= link_to 'Sign in', new_webauthn_session_path, class: "mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded" %>

 -->

