<%= form_for(review) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :stars %>
    <%= f.text_field :stars %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= f.label :review %>
  <% if @events.present? %>
    <select id="review_event_id" name="review[event_id]" >
      <% @events.each do |event| %>
        <option value="<%= event.id %>"> <%= event.title %> </option>
      <% end  %>
    </select>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
