<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
  <title>Fringe</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- For the Physical Web -->
    <meta charset="UTF-8">
    <meta name="description" content="All you wanted to know about the Fringe Festival">
		<%= favicon_link_tag 'icon.png' %>

</head>

<body>
  <%= render "./layouts/bootstrap_nav_bar" %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>